# Django
*.log
local_settings.py
.env
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal

# Media and Static
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
